<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/style.css" rel="stylesheet"/>
  <title>Account Deleted</title>
</head>
<body>
<div class="container">
  <h3 class="header">Account Deleted</h3>
  <p class="message">Your account has been successfully deleted.</p>
  <p class="message">Thank you for using our service.</p>
  <div style="margin-top: 30px; text-align: center;">
    <a href="/signup" class="styled-button">Create New Account</a>
  </div>
</div>
</body>
</html>