<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/style.css" rel="stylesheet"/>
    <title>One-Time Token Sent</title>
</head>
<body>
<div class="container">
    <h3 class="header">Check your email for the one-time token.</h3>
</div>
</body>
</html>