<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/style.css" rel="stylesheet"/>
  <title>Successfully activated!</title>
</head>
<body>
<div class="container">
  <h3 class="header">Successfully activated!</h3>
  <p class="message">Go to <a href="/login">the login page</a></p>
</div>
</body>
</html>